<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
      <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
      style="background:url(../assets/images/big/auth-bg.jpg) no-repeat center center;">
      <div class="auth-box row text-center">
          <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(./assets/assets/images/big/3.jpg);">
          </div>
          <div class="col-lg-5 col-md-7 bg-white">
              <div class="p-3">
                  <img src="./assets/assets/images/big/icon.png" alt="wrapkit">
                  <h2 class="mt-3 text-center">Sign Up for Free</h2>
                  <form class="mt-4" [formGroup]="signupForm" (ngSubmit)="onSignupForm()">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <input class="form-control" type="text" placeholder="Fullname" formControlName="fullname">
                                  <div *ngIf="signupForm.controls.fullname.invalid && (signupForm.controls.fullname.dirty ||signupForm.controls.fullname.touched)">
                                    <small *ngIf="signupForm.controls.fullname.errors.required" class="text-danger">Fullname is required.</small>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Username" formControlName="username">
                                <div *ngIf="signupForm.controls.username.invalid && (signupForm.controls.username.dirty ||signupForm.controls.username.touched)">
                                  <small *ngIf="signupForm.controls.username.errors.required" class="text-danger">Username is required.</small>
                                </div>
                            </div>
                        </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <input class="form-control" type="email" placeholder="Email" formControlName="email">
                                  <div *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.dirty ||signupForm.controls.email.touched)">
                                    <small *ngIf="signupForm.controls.email.errors.required" class="text-danger">Email is required.</small>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                  <input class="form-control" type="password" placeholder="Password" formControlName="password">
                                  <div *ngIf="signupForm.controls.password.invalid && (signupForm.controls.password.dirty ||signupForm.controls.password.touched)">
                                    <small *ngIf="signupForm.controls.password.errors.required" class="text-danger">Password is required.</small>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="ConfirmPassword" formControlName="confirmpassword">
                                <div *ngIf="signupForm.controls.confirmpassword.invalid && (signupForm.controls.confirmpassword.dirty ||signupForm.controls.confirmpassword.touched)">
                                  <small *ngIf="signupForm.controls.confirmpassword.errors.required" class="text-danger">ConfirmPassword is required.</small>
                                  <small *ngIf="signupForm.controls.confirmpassword.errors.mustMatch" class="text-danger">ConfirmPassword is not match.</small>
                                </div>
                            </div>
                        </div>
                          <div class="col-lg-12 text-center">
                              <input type="submit" class="btn btn-block btn-dark" value="Sign Up" [disabled]="signupForm.invalid"/>
                          </div>
                          <div class="col-lg-12 text-center mt-3">
                            <button class="btn btn-block btn-dark" (click)="register()">SignUp with Firebase</button>
                        </div>
                          <div class="col-lg-12 text-center mt-5">
                              Already have an account? <a href="/login" class="text-danger">Sign In</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script src="./assets/assets/libs/jquery/dist/jquery.min.js "></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="./assets/assets/libs/popper.js/dist/umd/popper.min.js "></script>
<script src="./assets/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
  $(".preloader ").fadeOut();
</script>
